<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>추가하기</title>
    </head>
    <body>
        <div>
            <a href="#">Add Bookmark</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Site</th>
                    <th>URL</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for bookmark in object_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="#">{{bookmark.site_name}}</a></td>
                        <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
                        <td><a href="#">Modify</a></td>
                        <td><a href="#">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>